<ngt-canvas
  [sceneGraph]="sceneGraph"
  [sceneGraphInputs]="sceneGraphInputs || undefined"
  [camera]="{ position: [4, 2, 1], zoom: 4 }"
  class="w-full h-full"
></ngt-canvas>

<!-- product-three-d-viewer.component.html -->
<!-- product-three-d-viewer.component.html -->
<!-- <div class="product-3d-viewer">
  Usar la Opción 1 (objeto simple)]
  <ngt-canvas
    [sceneGraph]="sceneGraph"
    [sceneGraphInputs]="sceneGraphInputs"
    [camera]="{ position: [10, 10, 10], fov: 45 }"
    [gl]="{ alpha: true, antialias: true }"
    class="canvas-container"
  >
  </ngt-canvas>
</div> -->
